
.container {
  margin-top: 50px;
  margin-left: 75px;
}

body {
  background-color: #fff9eb;
}

.container li {
    font-size: 20pt;
}

.wrapper {
  margin-top: 10px;
}

.m {
  font-size: 14pt;
}

.meme {
  width: 500px;
  height: auto;
}

.navbar {
  background-color: #006d40;
  height: 80px;
}

.links {
  font-size: 18pt;
}

.links:hover {
  text-decoration: none;
  font-weight: bold;
}

.figure {
  height: 100px;
  width: auto;
}

.flexer {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.imagess {
  position: relative;
  display: inline-block;
}

.desc {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
  color: #757575;
}

.note {
  margin-top:30px;
  font-size: 14pt;
}
