
.container {
  margin-top: 50px;
  margin-left: 75px;
}

.wrapper {
  margin-top: 10px;
}

.meme {
  width: 500px;
  height: auto;
}

.links {
  font-size: 18pt;
}

.links:hover {
  text-decoration: none;
  font-weight: bold;
}

.note {
  margin-top:30px;
  font-size: 14pt;
}
